<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/header.css">
    <link rel="stylesheet" href="styles/partials/forms.css">
    <link rel="stylesheet" href="styles/partials/page-give-classes.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
                <div class="top-bar-container">
                    <a href="/">
                    <img src="image/images/icons/back.svg" alt="logo">
                    </a>
                    <img src="image/logo.svg" alt="Proffy">

                </div>
                <div class="header-content">
                    <strong>Que  incrivel que voce quer dar aula</strong>
                    <p>O primeiro passo, é preencher o formulario</p>
                </div>
                </header>
                <main>
                    <form action="/save-classes" id="create-class" method="POST">

                    
                        <fieldset>
                            <legend>Seus dados</legend>
                                    <div class="input-block">
                                                <label for="name">Nome completo</label>
                                                <input name="name" id="name" required>
                                        </div>
                                    <div class="input-block">
                                                <label for="avatar">Link da sua foto,<small>(comece com https://</small></label>
                                                <input name="avatar" id="avatar" type="url" required>
                                        </div>
                                    <div class="input-block">
                                                <label for="whatsapp">whatsapp</label>
                                                <input name="whatsapp" id="whatsapp" type="number" required>
                                        </div>
                                    <div class="textarea-block">
                                                <label for="bio">biografia</label>
                                                <textarea name="bio" id="bio" required></textarea>
                                        </div>
                                            
                            
                        </fieldset>

                        <fieldset>
                            <legend>Sobre a aula</legend>
                            <div class="select-block">
                                <label for="subject">materia</label>
                                <select name="subject" id="subject" required>
                                    <option value="">Selecione uma opçao</option>
                                    <option value="" disabled="" hidden="">Selecione uma opção</option>
                                    {%for subject in subjects %}
                                <option value="{{loop.index}}">
                                    {{subject}}
                                </option>
                                {%endfor%}
                                    </select>
                            </div>
                            <div class="input-block">
                                <label for="cost">custo da sua hora/aula 
                                    <Small>(R$)</Small>
                                </label>
                                <input name="cost" type="cost" id="cost" type="number" required>
                            </div>
                        </fieldset>


                        <fieldset id="schedule-items">
                            <legend>horarios disponivels
                            <button type="button" id="add-time" >+novo horario</button>
                        </legend>
                        <div class="schedule-item">
                            <div class="select-block">
                                <label for="weekday">dia da semana</label>
                                <select name="weekday[]"  required>
                                    <option value="">selecione uma opçao</option>
                                    {%for weekday in weekdays %}
                                <option value="{{loop.index0}}" {{"selected" if filters.weekday == loop.index0}} >
                                    {{weekday}}
                                </option>
                                {%endfor%}
                                    
                                </select>
                            </div>
                              <div class="input-block">
                                  <label for="time_from">das</label>
                                  <input type="time" name="time_from[]" required>
                              </div>  
                              <div class="input-block">
                                <label for="time_to">ate</label>
                                <input type="time" name="time_to[]" required>
                            </div> 
                        </div>
                    </fieldset>
                    </form>
                    <footer>
                        <p>
                            <img src="image/images/icons/warning.svg" alt="aviso importante">
                            importante <br>preencha todos os dados
                        </p>
                        <button type="submit" form="create-class">salvar cadastro</button>
                    </footer>


                </main>
    
    </div>
    
    <script src="scripsts/addField.js"></script>

    
</body>
</html>