<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy</title>
    <link rel="shortcut icon" href="image/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-landing">
    <div id="containter" >
        <div class="logo-container">
            <img src="image/images/logo.svg" alt="">
            <h2>sua plataforma de estudo online</h2>
        </div>
        <img class="hero-image" src="image/images/landing.svg" alt="plataforma">
        

        <div class="buttons-container">
            <a class="study" href="/study">
                <img src="image/images/icons/study.svg" alt="estudar">
                estudar
            </a>
            <a class="give-classes" href="give-classes">
                <img src="image/images/icons/give-classes.svg" alt="dar aulas">
            dar aulas
            </a>
            
        </div>
        <p class="total-connections">
            total de 200 conexoes ja realizadas
            <img src="image/images/icons/purple-heart.svg" alt="purple-heart">
        </p>
    </div>
    

    
</body>
</html>